*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}



.header-container{
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.home-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 130px;
    border-radius: 4px;
    margin: 10px;
    color: #333;
    background-color: #ccc;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

section h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.week-table-scheduled{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.week-day-scheduled{
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
}

.week-day-scheduled h3{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

tbody{
    text-align: inherit;
}

table th, table td{
    border: 1px solid #333;
    padding: 8px;
}

