* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-container{
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

section h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.week-table{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.week-day{
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
    display: grid;
    align-items: end;
}

.week-day h3{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}


.button-day{
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    border: none;
    background-color: #ccc;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

tbody{
    text-align: inherit;
}

table th, table td{
    border: 1px solid #333;
    padding: 8px;
}

