<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'horario.css' %}" />
</head>
<body>

    <section>
        <div class="container">
            <h2>Agende seu horário</h2>
            <div class="week-table">
                <div class="week-day">
                    <h3>Segunda-feira</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Horário</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        
                        {% if table_monday %}
                        <tbody>
                            {% for horario in table_monday %}
                                <tr>
                                    <td>{{ horario.horario }}</th>
                                    {% if horario.scheduled == False %}
                                        <td>Disponível</th>
                                    {% else %}
                                        <td>Agendado</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                        
                    </table>
                    <a href="horario/segunda"><button class="button-day">Agendar na Segunda</button></a>
                </div>

                <div class="week-day">
                    <h3>Terça-feira</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="row">Horário</th>
                                <th scope="row">Status</th>
                            </tr>
                        </thead>
                        
                        {% if table_tuesday %}
                        <tbody>
                            {% for horario in table_tuesday %}
                                <tr>
                                    <td>{{ horario.horario }}</th>
                                    {% if horario.scheduled == False %}
                                        <td>Disponível</th>
                                    {% else %}
                                        <td>Agendado</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    
                        {% endif %}

                    </table>
                    <a href="horario/terca"><button class="button-day">Agendar na Terça</button></a>
                </div>

                <div class="week-day">
                    <h3>Quarta-feira</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="row">Horário</th>
                                <th scope="row">Status</th>
                            </tr>
                        </thead>
                        
                        {% if table_wednesday %}
                        <tbody>
                            {% for horario in table_wednesday %}
                                <tr>
                                    <td>{{ horario.horario }}</th>
                                    {% if horario.scheduled == False %}
                                        <td>Disponível</th>
                                    {% else %}
                                        <td>Agendado</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    
                        {% endif %}

                    </table>
                    <a href="horario/quarta"><button class="button-day">Agendar na Quarta</button></a>
                </div>

                <div class="week-day">
                    <h3>Quinta-feira</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="row">Horário</th>
                                <th scope="row">Status</th>
                            </tr>
                        </thead>
                        
                        {% if table_thursday %}
                        <tbody>
                            {% for horario in table_thursday %}
                                <tr>
                                    <td>{{ horario.horario }}</th>
                                    {% if horario.scheduled == False %}
                                        <td>Disponível</th>
                                    {% else %}
                                        <td>Agendado</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    
                        {% endif %}

                    </table>
                    <a href="horario/quinta"><button class="button-day">Agendar na Quinta</button></a>
                </div>

                <div class="week-day">
                    <h3>Sexta-feira</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="row">Horário</th>
                                <th scope="row">Status</th>
                            </tr>
                        </thead>
                        
                        {% if table_friday %}
                        <tbody>
                            {% for horario in table_friday %}
                                <tr>
                                    <td>{{ horario.horario }}</th>
                                    {% if horario.scheduled == False %}
                                        <td>Disponível</th>
                                    {% else %}
                                        <td>Agendado</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    
                        {% endif %}

                    </table>
                    <a href="horario/sexta"><button class="button-day">Agendar na Sexta</button></a>
                </div>
            </div>    
        </div>
    </section>
</body>
</html>